In [ ]:
#001 고객 테이블 구조(고객id, 이름, 주소, 전화번호, 직업, 마일리지)를 만들고 데이터를 추가 및 삭제, 검색해보세요
#- db browser for sqlite에서 진행해보세요.
'''
DB
INSET INTO Person (ID, Name, Addr, Tel, Job,Point)
VALUES(1,"홍길동","순천","010-7777-7777","건축가","10000000000"),(2"이순신","계룡","010-8282-7575"."해군장군","92414700");

SELECT * FROM Person
DELETE FROM Person;
'''

In [ ]:
'''
mysql
-- 001

select 고객회사명,replace (고객회사명,left(고객회사명,2),'**')as 고객회사명2, 

전화번호, replace(replace(전화번호,left(전화번호,1),''),')','-')as 전화번호2

from 고객

group by 고객회사명, 전화번호;

​

-- 002

select 주문번호, 제품번호, 단가, 주문량, 할인율, 주문수량*단가 as 주문금액,

round(주문수량*단가*할인율) as 할인금액, round(주문수량*단가-주문수량*단가*할인율) as 실주문금액

from 주문세부;

​

​

​

-- 003

select *from 사원;

select 이름, 생일, timestampdiff(year,생일,now()) as 만나이,

입사일, timestampdiff(day, 입사일, now()) as 입사일수,

adddate(입사일,500) as 500일후;

​

​

-- 004

select 담당자명, 고객회사명, 도시, 

(case when 도시 like '%특별시' or 도시 like '%광역시' then '대도시'

else '도시' end) as 도시구분, 마일리지,

(case when 마일리지 >= 100000 then 'VVIP고객' when 마일리지 >= 10000 then 'VIP고객'

    else '일반고객'

    end) as 마일리지구분

from 고객;

​

​

-- 005

select 주문번호, 고객번호, 주문일, year(주문일) as 주문년도, quarter(주문일) as 주문분기, 

month(주문일) as 주문월, day(주문일) as 주문일, dayofweek(주문일)as 주문요일,

    (CASE 

        WHEN DAYOFWEEK(주문일) = 1 THEN '일요일'

        WHEN DAYOFWEEK(주문일) = 2 THEN '월요일'

        WHEN DAYOFWEEK(주문일) = 3 THEN '화요일'

        WHEN DAYOFWEEK(주문일) = 4 THEN '수요일'

        WHEN DAYOFWEEK(주문일) = 5 THEN '목요일'

        WHEN DAYOFWEEK(주문일) = 6 THEN '금요일'

        WHEN DAYOFWEEK(주문일) = 7 THEN '토요일'

    END) AS 한글요일

from 주문;

​

-- 006

select *,

datediff(발송일,요청일) as 지연일수 
'''

In [ ]:
'''
— 001
select 제품명, sum(주문세부.주문수량) as 주문수량합, sum(주문세부.주문수량*주문세부.단가) as 주문금액합
from 제품
inner join 주문세부
on 제품.제품번호 = 주문세부.제품번호
group by 제품명;

-- 002
SELECT year(주문일), 제품.제품명, SUM(주문세부.주문수량)
FROM 제품
INNER JOIN 주문세부
ON 제품.제품번호 = 주문세부.제품번호
INNER JOIN 주문
ON 주문세부.주문번호 = 주문.주문번호
where 제품.제품명 like '%아이스크림%'
GROUP BY 제품.제품명, year(주문일);

-- 003
SELECT 제품.제품명, sum(주문세부.주문수량)
FROM 제품
LEFT OUTER JOIN 주문세부
ON 제품.제품번호 = 주문세부.주문번호
GROUP BY 제품.제품명;
'''

In [ ]:
'''
-- 001 OK
SELECT 부서명
FROM 부서
INNER JOIN 사원
ON 사원.부서번호=부서.부서번호
WHERE 이름 = '배재용';

-- 002
SELECT *
FROM 제품
WHERE 제품번호 NOT IN (SELECT 제품번호 FROM 주문세부);

-- 003
SELECT 담당자명, 고객회사명, COUNT(주문.고객번호) AS 주문건수, 
MIN(주문.주문일) AS 최초주문일 , 
MAX(주문.주문일) AS 최종주문일
FROM 고객
INNER JOIN 주문
ON 고객.고객번호=주문.고객번호
GROUP BY 고객.고객번호;

-- 004 OK
INSERT INTO 제품(제품번호, 제품명, 포장단위, 단가, 재고)
VALUES (95, '망고배리아이스크림', '400g',800,30);

-- 005 OK
INSERT INTO 제품(제품번호, 제품명, 단가)
VALUES (96,'눈꽃빙수맛 아이스크림',2000);

-- 006 OK
UPDATE 제품
SET 재고=30
WHERE 제품번호=96;

-- 007
DELETE FROM 부서
WHERE 부서번호 NOT IN (SELECT 부서번호 FROM 사원)
'''